body {
    background-color: #fffbf7;
    font-size: 16px; /*1rem =10 px*/    /*Pasas a poder usar REMS*/
    font-family:;
    
    margin: 1rem;
}

*, *:before, *:after {           /*Conservas el ancho de caja y puedes utilizar el de abajo*/
    box-sizing: inherit;
  }
  
  /* *{
    box-sizing: border-box;    
    margin: 0;
    padding: 0;
} */



a {
    text-decoration: none;
    color: #025157;
    font-weight: bolder;
    
}

nav :hover{
color: chocolate;
}

h1 {
    color:aqua;
    text-align: center;
}
h2 {
    color: #46484c;
}

p {
 color: #8b8b8bcc;
}

button {
    color: #fff;
    background-color: #025157;
}

li { 
    display: inline;
}

