body {
    background-color: #fffbf7;
    /* font-size: 16px; 1rem =10 px    Pasas a poder usar REMS */
    

}


  
 /*  *{
    box-sizing: border-box;    
    margin: 0;
    padding: 0;
}  */

.fixed_header {
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
}

.header {
    margin: 40px 20px 20px;     /*para que se distancie del cuerpo*/
    font-size: 0;       /*el font size le da tamaño a los espacios entre la letra y no queremos que eso pase*/
  
}

li {
    display: inline;
}

.header > * {          /*Lo estoy aplicando tambipen a los hijos*/
    display: inline-block;  /*para que alinee todos los elementos en una sola línea*/
    font-size: 16px;          /*su tamaño de fuente a cada elemento hijo*/
    vertical-align: middle;
    height: 100%;
    line-height: 45px;    
}

.logo {
        width: 15%;                /*se hace así 15%, 70%, 15 y así ocupa el 100% del espacio*/
        
}

.logo > img {
        height: 100%;
    }


    
.navbar {
    width: 70%;
    text-align: center;
    font-weight: 500;
    color: #025157;
    font-family: sans-serif; 
    word-spacing: 25px;
  }
  
  .actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    color: #67b54b ;
    
  }
 
.actions > * {
    margin-right: 10px;     /*ahí le di separacion a los dos elementos*/
}
  
  button {
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px ;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}



a {
    text-decoration: none;
    color: #025157;
    font-weight: bolder;
    
}



h1 {
    color:rgb(10, 17, 17);
}
h2 {
    color: #46484c;
}

p {
 color: #8b8b8bcc;
}



li { 
    display: inline;

}

.contenedor {
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: center;
    margin: 100px auto;
    gap: 5rem;
}
.contenedor_imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: auto;
}



.titulo_articulo > h1, p{
    color: #025157;
}

.antes_de_formulario {
    color: #343434;
}
.trial_boton {
    background-color: #025157 ;
}



