
}
body {
    background-color: #fffbf7;
    /* font-size: 16px; 1rem =10 px    Pasas a poder usar REMS */
    

}


  
 /*  *{
    box-sizing: border-box;    
    margin: 0;
    padding: 0;
}  */

.fixed_header {
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
    height: 8rem;
}

.header {
    margin: 40px 20px 40px ;     /*para que se distancie del cuerpo*/
    font-size: 0;       /*el font size le da tamaño a los espacios entre la letra y no queremos que eso pase*/
  
}

li {
    display: inline;
}

.header > * {          /*Lo estoy aplicando tambipen a los hijos*/
    display: inline-block;  /*para que alinee todos los elementos en una sola línea*/
    font-size: 16px;          /*su tamaño de fuente a cada elemento hijo*/
    vertical-align: middle;
    height: 100%;
    line-height: 45px;    
}

.logo {
        width: 15%;                /*se hace así 15%, 70%, 15 y así ocupa el 100% del espacio*/
        
}

.logo > img {
        height: 100%;
    }


    
.navbar {
    width: 70%;
    text-align: center;
    font-weight: 500;
    color: #025157;
    font-family: sans-serif; 
    word-spacing: 25px;
  }
  
  .actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    color: #67b54b ;
    
  }
 
.actions > * {
    margin-right: 10px;     /*ahí le di separacion a los dos elementos*/
}
  
  button {
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px ;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}



a {
    text-decoration: none;
    color: #025157;
    font-weight: bolder;
    
}



h1 {
    color:rgb(10, 17, 17);
}
h2 {
    color: #46484c;
}

p {
 color: #8b8b8bcc;
}



li { 
    display: inline;

}

.contenedor {
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: center;
    margin: 100px auto;
    gap: 5rem;
}
.contenedor_imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: auto;
}



.titulo_articulo > h1, p{
    color: #025157;
}

.antes_de_formulario {
    color: #343434;
}
.trial_boton {
    background-color: #025157 ;
}

.contenedor_verde {
    max-width: 100%;
    background-color: #a1d683;
    height: 55rem;
    display: flex;
}

.parrafos{
     display: flex;
     flex-direction: column;
     width: 50%;   
     align-items: left; 
     margin-top: 11rem;
     font-size: 18px;
     padding-left: 6rem;
     margin-right: 4rem;
     margin-left: 11rem;
    
     
}

.parrafos > h1{
    font-size: 51px;
    color: #025157;
    margin-bottom: .3rem;
    font-weight: bolder;

}
.parrafos>p{
    color: #343434;
    font-weight: 350px;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.boton_verde {
    background-color: #025157;
    max-width: 18%;
    font-size: 16px;
    font-weight: bolder;

}
   


.contenedor_tarjeta{
    background-color: white;
    text-align: center;
    max-width: 18%;
    border-radius: 8px;
    margin-top: 6rem;
    height: 80%;
    vertical-align: middle;
    position: static;
    
    
}



.foto_chico {
    border-radius: 6px;
    position:static;
    max-height: 300px;
    width: 340px;
    min-width: auto;
}
 .everly {
    max-width: 100px;
    min-height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #f9da73;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 13.7rem;
    margin-top: -4rem;
    position: relative;
 }
 .letra_everly {
     margin-top: -18px;
    font-weight: 600;
    font-size: 18px;
    color: #025157 ;
    text-align: left;
 }

 .alinea_texto {
     padding: 25px;
     font-size: 25px;
     text-align: left;
 }

 .icono_carro {
    width: 25px;
    height: 25px;
 }

 .texto_aladodelcarro {
color: #8b8b8bcc;
margin-left: 1rem;
 }

 .carrito_texto {
     margin-top: -1.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
   max-width: 100%;
   margin-bottom: 2rem;

    
    
}

.case_study_boton {
background-color: #025157;
padding: 12px 20px;
max-width: 100%;
min-width: auto;
border-radius: 5px;
} 

.letras_de_boton {
    color: rgb(223, 223, 223);
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}


.features {
    display: grid;
   /* grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: repeat (2, 330px);*/
    background-color: #025157;
    padding: 5% 10%;
    grid-template: repeat(2, 300px) /  repeat(2, 800px);
    
  }

.features .feature-art {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
    
    
}